#titre {
    text-align: inherit;
    border: solid black;
    padding: 10px;
    Margin-left: 30%;
    margin-right: 25%;
    text-align: center;
    font-size: larger;
    font-family: Roboto Condensed, sans-serif;
}

body {
    background-color: white;
    color: black;
    background-color: mediumslateblue;
    background-image: url("https://images.unsplash.com/photo-1594165681163-1b85559cf250?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
    border: 3px solid rgba(103, 21, 236, 0.479);
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}

img {
    border-radius: 50%;
    height: 225px;
    width: 225px;
    border: solid black;
    margin: 25px;
    justify-content: center;

}

.navigation {
    margin-left: 40%;
    flex-wrap: wrap;
}

.bienvenue {
    text-align: center;
    padding: 5px;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 5%;
    margin-right: 25%;
    margin-left: 15%;
    border: solid 2px rgb(8, 8, 8);
    padding: 30px;
}

h2 {
    font-family: 'Dancing Script', cursive;
}

.container {
    border: solid black 3px;
    height: 600px;
    width: 300px;
    text-align: center;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.nowrap {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.flex-item {

    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 10px;

    line-height: 0;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}