div {
    width: 100px;
    height: 100px;
    background-color: khaki;
    border: 2px solid black;
    margin: 10px;
    display: inline-block
}

#middle {
    background-color: gray;
}

#static #middle {
    position: static;

}

#relative #middle {
    position: relative;
    top: 50px;
    left: 50px;
}

#absolute {
    position: relative;
}

#absolute #middle {
    position: absolute;
    top: 10px;
    left: 10px;
}

#fixed #middle {
    position: fixed;
    top: 0px;
    left: 0px;

}

#fixed2 #text {
    position: fixed;
    right: 10px;
}